nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
target/
node_modules/
src/main/webapp/resources/base/js/build/
.DS_Store
src/main/resources/jdbc.properties
package.json
nb-configuration.xml
npm-debug.log
jdbc.properties



