<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.viettel.calendar.beans.Users" />
        <mapping class="com.viettel.calendar.beans.PrepareTimeline" />
        <mapping class="com.viettel.calendar.beans.LeaderTimeline" />
        <mapping class="com.viettel.calendar.beans.Department" />
        <mapping class="com.viettel.calendar.beans.MeetingRoom" />
        <mapping class="com.viettel.calendar.beans.Timeline" />
        <mapping class="com.viettel.calendar.beans.GroupMember" />
        <mapping class="com.viettel.calendar.beans.DeptType" />
        <mapping class="com.viettel.calendar.beans.Groups" />
        <mapping class="com.viettel.calendar.beans.TimelineLog" />
    </session-factory>
</hibernate-configuration>